<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; img-src 'self' data:">
    <title>PRAYER TIME</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../scss/main.css">
  </head>
  <body>
    <div class="topbar">
      <button id="config-btn" type="button" class="btn btn-dark btn-sm mt-2 me-2">
        <i class="bi bi-gear"></i>
      </button>
      <button id="refresh-btn" type="button" class="btn btn-dark btn-sm mt-2 me-2">
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </div>
    <div class="box">
      <div id="clock"></div>
      <div id="selected-method"></div>
    </div>
    
    <script src="../../node_modules/dexie/dist/dexie.min.js"></script>
    <script src="../utility/db.js"></script>
    <script src="../utility/observer.js"></script>
    <script src="../renderers/index.js"></script>
  </body>
</html>